---
layout: default
---
<div class="post">
	<!--文章标题和说明-->
	<header>
		<!--文章名称-->
		<h1 class="post-title">{{ page.title }}</h1>


		<!--文章描述，时间和分类-->
		<p class="desc">
			<i class="fa fa-calendar"></i>
			{{ page.date | date: "%Y/%m/%d" }} &nbsp;&nbsp;
			<i class="fa fa-folder-open-o fa-fw"></i>
			<a href="/category/">{{ page.categories }} </a>
		</p>
		<a href="http://panshang.xyz"><b>Welcome </b></a>
	</header>

	<!--文章内容-->
	<article class="post-content">
		<br/>
		{{ content }}
	</article>

	<!--上下翻页-->
	<ul class="pager pagination-sm">
		<!--前一页-->
		{% if page.previous %}
		<li class="previous">
			<a href="{{ site.BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
		</li>
		{% else %}
		<li class="previous disabled">
			<a>&larr; Previous</a>
		</li>
		{% endif %}

		<!--下一页-->
		{% if page.next %}
		<li class="next">
			<a href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
		</li>
		{% else %}
		<li class="next disabled">
			<a>Next &rarr;</a>
		</li>
		{% endif %}
	</ul>
	<!--引入评论-->
	{% include extends/disqus.html %}
	<!--分享-->
	<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["tsina","sqq","qzone","weixin","print","copy"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","sqq","qzone","weixin","print","copy"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</div>
